<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCd4IRFnA02H9aMKpJzYcxeh9aw312CQO8</string>
	<key>GCM_SENDER_ID</key>
	<string>340604295467</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.torrefacteurk</string>
	<key>PROJECT_ID</key>
	<string>le-torrefacteur-k</string>
	<key>STORAGE_BUCKET</key>
	<string>le-torrefacteur-k.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:340604295467:ios:ab49ddb7e4c5e5f6280d6e</string>
	<key>DATABASE_URL</key>
	<string>https://le-torrefacteur-k-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>